
@media (max-width: 2560px) {
body  {
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  zoom: normal;
  object-fit: scale-down;
  width: 100%;
  background-size: cover;
  align-items: center;
  
}
}
@media (max-width: 480px) {
  body  {
    background-image: url(../images/background3mob.png);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: scale-down;
    background-size: cover;
    align-items: center;
    width: 100%;
    
    
  }
  }

  @media (max-width: 2560px) {
    .header {
  position: fixed;
  top: 0;
  padding-bottom: 18px;
  
  max-width: 100%;
  background-color: white;
  background-blend-mode: soft-light;
  margin-left: 20%;
  color: black;
  text-align: center;
  border-radius: 8px;
  resize: none;
  background-size: contain;
  object-fit: scale-down;
}
  }

  @media (max-width: 480px) {
    .header {
      max-width: 100%;
      position: fixed;
      top: 0;
      margin-left: -3%;
      padding-bottom: 8px;
      border-radius: 8px;
      padding-bottom: 18px;
      
      
      max-height: 55px;
      

      background-color: white;
      
      
    }
      }
      
@media (max-width: 2560px) {
  .footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;
   margin-top: 100px;
   margin-left: -4px;
  }
}

@media (max-width: 480px) {
  .footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;
   margin-top: 100px;
   
  }
}

.heading_1_class { 
   
  display: inline;  
    color: transparent;
    background-repeat: repeat-x;
    font-size: 20px;
    text-align: center;
    background: url(../images/borderdotts2.jpg);
    
}
@media (max-width: 2560px) {    
.h3_class{
 text-align: center;
 margin-left: -3%;
}    
    
}
@media (max-width: 480px) {    
  .h3_class{
   text-align: center;
   
  }    
      
  }

@media (max-width: 480px) {
  .aussie{
    text-align: center;
    
  }
}

@media (max-width: 2560px) {
  .aussie{
    text-align: center;
    margin-left: -3%;
  }
}



@media (max-width: 2560px) {
  .h2_class {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
 }
}
@media (max-width: 480px) {
  .h2_class {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    
  }
}
@media (max-width: 2560px){
.para_1_class  {
  
    color: white;
    text-align: center;
    background-color: rgb(88, 135, 221);
    
    
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
    font-size: 40px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;

    border-radius: 12px;
    overflow: hidden;
} 

}

@media (max-width: 480px){
  .para_1_class  {
  
  color: white;
  
  background-color: rgb(88, 135, 221);
  font-size: 12px;
  text-align: center;
  width:  100%;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
    
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  
  
  border-radius: 12px;
  
  
margin-left: -8%;
  }
}

.para_body_class {
    
    background-color: white;
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    
    
    
}
/** random classes above, experimentation /*/

/** external css, will apply to all unless specified like with classes above /*/

body {
  background-color: lightblue;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}
@media (max-width: 480px){
.p_class {
  font-family: verdana;
  font-size: 25px;
  text-align: center;
  letter-spacing: 3px;
  color: black;
  text-shadow: 3px 2px grey;
  
  
  }
}
@media (max-width: 2560px){
.p_class {
  font-family: verdana;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  color: black;
  text-shadow: 3px 2px grey;
  margin-left: -2%;
  
}
}

.p_lol{
  font-family: verdana;
  font-size: 40px;
  text-align: center;
}
@media (max-width: 2560px){
.ul_class {
  color: black;
  text-align: center;
  font-size: 25px;
  list-style: none;
  margin-left: -4%;
}
}
@media (max-width: 480px){
.ul_class {
  color: black;
  text-align: center;
  font-size: 15px;
  list-style: none;
  align-content: center;
  margin-left: -15%;
  
}
}

.smol_class {
  color: black;
  text-align: center;
  font-size: 10px;
}
.p_block {
  
 
  text-align: center;
  letter-spacing: 3px;
  color: black;
  text-shadow: 3px 2px grey;
  
}
@media screen and (max-width: 480px) {
  .p_block, .header, .footer, .heading_1_class, .h2_class, .para_1_class, .para_body_class, .p_class, .ul_class, .smol_class {
    width: 100%;
    align-content: center; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
